Binaries
Build
DerivedDataCache
Intermediate
Saved
Content/EVteam/VFX/*
Content/EVteam/audio/*
Content/Paragon*
Content/SoulCave*
Content/SoulCity*
Content/InfinityBlade*
Content/IndustryPropsPack6*
Content/MegaGameMusicCollection*
Content/Particles_Wind_Control_System*
sizes.txt
*_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
