Binaries
Build
DerivedDataCache
Intermediate
Saved
Content/EVteam/VFX/*
Content/EVteam/audio/*
Content/Paragon*
Content/SoulCave*
Content/SoulCity*
Content/InfinityBlade*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
